<button onclick="startVoiceRecognition()">🎙 Add Item</button>

<script>
function startVoiceRecognition() {
  const recognition = new webkitSpeechRecognition();
  recognition.lang = "en-US";
  
  recognition.onresult = (event) => {
    const spokenText = event.results[0][0].transcript;
    console.log("Recognized:", spokenText);
    // Send spokenText to backend for processing
  };
  
  recognition.start();
}
</script>
